*
{
}
.title
{
	padding: 50px 0;
	margin-bottom: 100px;
	background-image: url("../img/header_page.png");
	width:100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.title .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:2%;
}

.title h2{
    font-family: 'Fredoka One', cursive, Juicebox, 'Varela Round', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
}

.title .container .title_infos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.title_infos p{
    color: #f6f5f0;
    margin: 0 1em;
}

.img_centre
{
	text-align: center;
}
.img
{
    height:1000px;
}