p{
    font-family: 'Varela Round', sans-serif;
    color: #222014;
    font-size: 1.1em;
}

body, html 
{
  height: 100%;
  width: 100%;
  background-color: white;  
}

/*****************************************Barre de navigation *****************/

nav
{
	font-family: 'Fredoka One', cursive, 'Varela Round', sans-serif;

}

.navbar-brand
{
	color: white;
}

.nav-link
{
	color: black;
}

.navbar-nav > li > a 
{
 
	padding-bottom: 4px;
	border-bottom: 3px solid white;
	font-family: 'Fredoka One', cursive, Juicebox, 'Varela Round', sans-serif;
 
}

/*Barre de couleur sous onglet */
.nav1:focus, .nav1:hover 
{
 	border-bottom : 3px solid #FFCB2E;
}

.nav2:focus, .nav2:hover 
{
 	border-bottom : 3px solid #FF143D;
}

.nav3:focus, .nav3:hover 
{
 	border-bottom : 3px solid #1C9933;
}

/*Image de header */

.intro
{
  background: #ffeee8;
  position: relative;
  padding-bottom:10%;
}

.moi
{	
background-image: url("../img/moi.png");
width:100%;
height: 100%;
background-size: cover;
position: absolute;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
}

/*
.header__moi
{ 	
	position: fixed;
}
*/
.header__fruits
{
	position: relative;
	top:0;
}

/*******************************************Intro texte*************************/
h1
{
	font-family: 'Fredoka One', cursive, Juicebox, 'Varela Round', sans-serif;
	font-size:6vw;
	padding-top:10%;
}

/*******************************************TRAVAUX******************************/
.travaux
{
	background-color:#7FB3A8;
}

.titre
{
	padding-left:2%;
	padding-top:5%;
	font-size:5vw;
	font-family: 'Fredoka One', cursive, Juicebox, 'Varela Round', sans-serif;
}

.ligne1 img
{
	border-radius:50px;
	padding:5%;
	/*Noir et blanc*/
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.ligne1 img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}



/**********************************Contact**************************/

.contact
{
	background-color:#ffeee8;
	padding-bottom:2em;
}

.mail
{
	text-decoration:underline;
	font-weight: bold;
}

/****************************FOOTER******************************/
.droit_bis
{
	background:#5B7F77;
	padding: 0.5em 0;
	margin-bottom:1em;
}

.droit_bis p
{
	text-align:center;
	color:white;
}

