p{
    font-family: 'Varela Round', sans-serif;
    color: #222014;
    font-size: 1.1em;
}

body, html 
{
  height: 100%;
  width: 100%;
  background-color: white;  
}

/*Barre de navigation */

nav
{
	font-family: 'Fredoka One', cursive, 'Varela Round', sans-serif;
	font-size: 1.5rem;

}

.navbar-brand
{
	color: white;
}

.nav-link
{
	color: black;
}

.navbar-nav > li > a 
{
 
	padding-bottom: 4px;
	border-bottom: 3px solid white;
	font-family: 'Fredoka One', cursive, Juicebox, 'Varela Round', sans-serif;
 
}

/*Barre de couleur sous onglet */
.nav1:focus, .nav1:hover 
{
 	border-bottom : 3px solid #FFCB2E;
}

.nav2:focus, .nav2:hover 
{
 	border-bottom : 3px solid #FF143D;
}

.nav3:focus, .nav3:hover 
{
 	border-bottom : 3px solid #1C9933;
}

/*Image de header */

.intro
{
  background: #ffeee8;
  position: relative;
  padding-bottom:10%;
}

.pp
{	
}

footer {
  background: #000;
  color: #ddd;
  padding: 30px 0 30px;
  text-align: center;
}

footer a 
{
  color: #ddd;
  text-decoration: none;
}

footer a:hover {
  color: #eee;
  text-decoration: underline;
}

.moi
{	
background-image: url("../img/moi.png");
width:100%;
height: 100%;
background-size: cover;
position: absolute;
left: 0;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
	.moi
	{	
		background-image: url("img/moi.png");
		width:10%;
		height:10%;
	}
}

/*
.header__moi
{ 	
	position: fixed;
}
*/
.header__fruits
{
	position: relative;
	top:0;
}

/*******************************************Intro texte*************************/
h1
{
	font-family: 'Fredoka One', cursive, Juicebox, 'Varela Round', sans-serif;
	padding-top:10%;
}

/*******************************************TRAVAUX******************************/
.travaux
{
	background-color:#7FB3A8;
}

.titre
{
	padding-left:2%;
	padding-top:5%;
}

.row1
{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	padding-top:5%;
	padding-bottom:10%;
}

.ligne1 img
{
	border-radius:50px;
	padding:5%;
	/*Noir et blanc*/
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.ligne1 img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.card-image-top
{
	height:5em;
	width: 5em;
}

.onglet
{
	padding-right: 2rem;
	padding-left: 2rem;
}

/*Contact*/

.contact
{
	background-color:#ffe3c0;
}

.contact p
{
	padding-left:5%;
	font-size:1.5em;
}

.mail
{
	text-decoration:underline;
	font-weight: bold;
}

