*
{
}
.title
{
	padding: 50px 0;
	margin-bottom: 100px;
	background-image: url("../img/header_page.png");
	width:100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.title .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:2%;
}

.title h2{
    font-family: 'Fredoka One', cursive, Juicebox, 'Varela Round', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
}

.title .container .title_infos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.title_infos p{
    color: #f6f5f0;
    margin: 0 1em;
}

.img_centre
{
	text-align: center;
}
.img
{
    height:1000px;
}

.logo
{
	height:100px;
	width:100px;
}

.sous-titre
{
	text-align: center;
	border-radius:10px;
	margin-top:2em;
	background-color:#F5BB47;
}

.sous-titre a
{
	color:#222014;
	font-weight:bold;
	text-decoration:none;
}

.MG
{
	padding-top:8em;
}
/*
.sous-titre-bis
{
	text-align: center;
	border-radius:10px;
	margin-top:2em;
	background-color:#149179;
	color:white;
}
*/

/************BOUTON RETOUR***************************************/
.bouton {
	transition: .4s;
	padding: 1em 2em;
    font-weight: 600;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background: #DE3543;
    text-align: center;
    border-radius: 3px;
}
.bouton:hover {
	transition: .4s;
    background: #AB2934;
    color:white;
    text-decoration:none;
}

.retour .container{
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: center;
}

.droit
{
	background:#5E171D;
	padding: 0.5em 0;
}

.droit p
{
	text-align:center;
	color:white;
}
/***********************************RESPONSIVE**************************************/

@media screen and (max-width: 628px) {

    .title_infos
    {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .title h2
    {
        font-size: 3em
    }
   
    
}

@media screen and (max-width: 376px) {
    .title h2{
        font-size: 2.5em
    }
    .description p{
        font-size: .9em;
    }
}

@media screen and (max-width: 330px) {
    .title h2{
        font-size: 1.8em
    }
}
